* { margin: 0; padding: 0; box-sizing: border-box;}
body { font-size: 0.32rem; background: #f4f4f4;}
header {
	height: 0.9rem;
	background: #f9f9f9;
	display: flex;
}

.message,.sys {
	width: 1.1rem;
	color: #FFFFFF;
}
.search {
	color: #272727;
	font-size: 0.35rem;
}
header > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	width: 48%;
	height: auto;
}


.message img {
	width: 35%;
}
/*.preLogin{
	line-height: 0.8rem;
	background: #fff;
	border-top: 0.02rem solid #ddd;
	border-bottom: 0.02rem solid #ddd;
	font-size: 0.3rem;
	padding-left: 0.3rem;
	
}
.preLogin h3 span{
	padding-left: 1.8rem;
}
.preLogin h3{
	color: #484747;
	font-size: 0.32rem;
}
.preLogin em {
	color: #f8e775;
	font-style: normal;
}*/

.DZ{width: 100%;height: 2rem;
background: #FFFFFF;display: flex;
margin-bottom: 0.1rem;flex: 1;}

.dz1 img{width: 0.42rem;height: 0.55rem;
margin-left: 0.3rem;margin-top: 0.5rem;}
.dz2{margin-left: 0.2rem;margin-top: 0.3rem;
flex: 1;
}
.dz3{display: flex;flex: 1;}
.dz3 p{font-size: 0.28rem;color: #1a1a1a;}
.dz3 span{width: 0.6rem;height: 0.35rem;color: #494949;
border: 0.01rem solid #e2e2e2;border-radius: 0.3rem;
font-size: 0.2rem;text-align: center;line-height: 0.35rem;
margin-left: 0.1rem;}
.dz3 b{font-weight: normal;font-size: 0.26rem;margin-left: 0.2rem;
}

.dz4 p{font-size: 0.28rem;color: #1a1a1a;
margin-top: 0.15rem;}

.dz5{display: flex;justify-content: flex-end;
margin-top: 0.2rem;margin-right: 0.2rem;}
.dz5 img{width: 0.3rem;height: 0.4rem;
}
.dz5 p{color: #b50d31;font-size: 0.26rem;
margin-right: 0.1rem;}
.dz5 a{text-decoration: none;}

main{
	background: #fff;
	border-top: 0.02rem solid #ddd;
	border-bottom: 0.02rem solid #ddd;
	padding: 0 0.3rem;
	margin-top: 0.34rem;

}
/*main>div{
	border-bottom: 0.2rem solid #f4f4f4;
}*/
main h2 img{
width: 0.5rem;
   margin-right: 0.2rem;
   margin-top: 0.2rem;
}
main h2 {
	line-height: 0.8rem;
	/*border-bottom: 0.02rem solid #ddd;*/
	font-weight: normal;
	font-size: 0.3rem;
}
.shop_content{
	background: #f9f9f9;
	box-shadow: #DDDDDD 0px 0px 3px 3px;
}
.shop_content > div{
	display: flex;
	padding: 0.2rem 0;
}
.shop_content >div input{
	flex: 6;
}
.shop_content .shop_photo{
	flex: 16;
    margin-left: 0.1rem;
    margin-right: 0.3rem;
}
.shop_content .shop_photo img{
	width: 100%;
	height: auto;
	border: 0.02rem solid #ddd;
}
.shop_content .shop_info{
	flex: 46;
}
.shop_info h3{
	font-size: 0.32rem;
	font-weight: normal;
	width: 100%;
	padding-bottom: 0.2rem;
}
.shop_info em{
	font-style: normal;
	display: block;
	margin-bottom: 0.2rem;
}
.shop_info > span{
	border: 1px solid #7f3b38;
	border-radius: 5px;
	/*background: #f9f9f9;*/
	color: #7f3b38;
    width: 1.5rem;
    height: 0.6rem;
    font-size: 0.32rem;
		font-style: normal;
		margin-top: 0.4rem;
		
}
.shop_info > div {
	display: flex;
	margin-top: 0.16rem;
	justify-content: space-between;
}
.count {
	display: flex;
	width: 1.8rem;
	margin-right: -0.5rem;
	height: 0.5rem;
}
.shop_price{
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.shop_price em {
	font-style: normal;
	color: #f33;
	text-align: right;
	font-size: 0.36rem;
	margin-right: 1rem;
}
.one{
	width: 100%;
	height: 1rem;
	background: #FFFFFF;
	display: flex;
	padding-left: 0.5rem;
	border-bottom: 0.02rem solid #acacac;
}

.one p{
	margin-left: 3.2rem;
	padding-top: 0.2rem;
}
.one span{
	padding-top: 0.2rem;
}
.two{
	width: 100%;
	height: 1rem;
	background: #FFFFFF;
	display: flex;
	padding-left: 0.5rem;
	border-bottom: 0.02rem solid #acacac;
}

.two p{
	margin-left: 1rem;
	padding-top: 0.2rem;
}
.two span{
	padding-top: 0.2rem;
}
.three{
	width: 100%;
	height: 1rem;
	background: #FFFFFF;
	display: flex;
	padding-left: 0.5rem;
	border-bottom: 0.02rem solid #acacac;
	margin-bottom: 1.3rem;
}
.three span{
	
	padding-top: 0.2rem;
}
.three p{
	padding-top: 0.2rem;
	color: #939393;
}
.foot{
	border-top: 0.02rem solid #acacac;
	position:fixed;
	left: 0;
	bottom:0rem;
	width: 100%;
	height: 1.28rem;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	background: #FFFFFF;
	/*padding: 0 0.3rem;*/
	display: flex;
	align-items: center;
}
.foot >div{
	flex: 1;
	margin-left: 2.5rem;
}
.foot > div em{
	font-size: 0.4rem;
	font-style: normal;
	color: #fe5600;
}
.foot > button{
	width: 2.3rem;
	border: none;
	background: #fe5600;
	color: #fff;
	border-radius: 5px;
	height: 80%;
	}


/*footer{
	height: 1.28rem;
	border-top: 0.02rem solid #ddd;
	margin-top: 0.34rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 0.3rem;
	display: flex;
	align-items: center;
}
footer > input{
	width: 0.5rem;
}
footer > div{
	flex: 1;
	margin-left: 0.2rem;
}
footer > div p{
	font-size: 0.3rem;
}
footer > div em{
	font-size: 0.4rem;
	font-style: normal;
	color: #f33;
}
footer > div span{
	font-size: 0.24rem;
	color: #999;
}
footer > button{
	width: 2.3rem;
	border: none;
	background: #f33;
	color: #fff;
	border-radius: 5px;
	height: 80%;
}*/